# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\集成WSO2\Github-WSO2\Jenkins-maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
